
<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    /* Modal animation */
    @keyframes subtleRotate {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50% {
            transform: rotate(5deg) scale(1.05);
        }
        100% {
            transform: rotate(0deg) scale(1);
        }
    }

    .modal-dialog {
        animation: subtleRotate 0.5s ease-in-out;
    }
</style>
<body>
      <div class="container">
        {% block app_content %}
        
        {% endblock %}
      </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html> 