{% extends "base_generic.html" %}

{% block app_content %}

  {% for userinfo in results.users %}
    
  <div class="row align-items-center">
    <!-- Welcome Message -->
    <div class="col-md-6">
      
      <h5>Welcome, {{userinfo.displayName}}</b></h5>
    </div>
    <!-- Filtering Inputs -->
    <div class="col-md-6">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Date Range Filter -->
        <div class="me-3">
          <label for="startDate" class="form-label">Start Date:</label>
          <input type="date" id="startDate" class="form-control form-control-sm" />
        </div>
        <div class="me-3">
          <label for="endDate" class="form-label">End Date:</label>
          <input type="date" id="endDate" class="form-control form-control-sm" />
        </div>
        <!-- Metric Filter Dropdown -->
        <div>
          <label for="metricFilter" class="form-label">Organisation Units:</label><br>
          <select id="metricFilter" class="form-select form-select-sm">
           
          </select>
        </div>
        <!-- Apply Filter Button -->
        <button id="applyFilters" class="btn btn-primary btn-sm ms-3">Filter</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b>PMTCT_ANC1</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td><b>{{ pmtct_data }}</b></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b>PMTCT_HEI</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td><b>{{ pmtct_hei }}</b></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b>PMTCT_EID</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td><b>{{pmtct_eid}}</b></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b>TX_CURR</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td><b>{{ tx_curr_data }}</b></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-purple order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b></b>TX_PVLS</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-magenta order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b></b>TX_RTT</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3">
      <div class="card bg-c-magenta order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b></b>TX_ML</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <div class="col-md-3 col-xl-3">
      <div class="card bg-c-magenta order-card">
        <div class="card-block">
          <h6 class="m-b-20"><center><b></b>CACX</b></center></h6>
          <table class="table table-responsive mx-3">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>IMPACT</td>
                <td>CTC2</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4>Viral Load Suppression</h4>
        <hr>
        <canvas id="viralLoadChart" width="400" height="200"></canvas>
      </div>
      <div class="col-md-6">
        <h4>TX_CURR Monitoring</h4>
        <hr>
        <canvas id="txCurrChart" width="400" height="200"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>TX PVLS</h4>
        <hr>
        <canvas id="txPvlsChart" width="800" height="200"></canvas>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Session Timeout Modal -->
  <div class="modal fade" id="sessionTimeoutModal" tabindex="-1" aria-labelledby="sessionTimeoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="sessionTimeoutModalLabel">Session Expired</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Your session has expired. You will be redirected to the login page.
              </div>
          </div>
      </div>
  </div>
 <!-- Session Timeout Modal Ends -->

  <!-- Include Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
       // Function to set session timeout
    async function  setSessionTimeout() {
        // expiresAt is a Unix timestamp in seconds
        const expirationTime = Math.floor(Date.now() / 1000) + (30 * 60) // Session is active for 30 minutes
        const currentTime = Date.now();
        const timeUntilExpiration = expirationTime - currentTime;

        if (timeUntilExpiration > 0) {
            setTimeout(() => {
                // Show session timeout modal
                const timeoutModal = new bootstrap.Modal(document.getElementById('sessionTimeoutModal'));
                timeoutModal.show();

                // Redirect to login page after 3 seconds
                setTimeout(() => {
                    timeoutModal.hide();
                    window.location.href = "{% url 'home' %}"; // Adjust to your login URL name
                }, 3000);
            }, timeUntilExpiration);
        }
    }
    setSessionTimeout()
    </script>
{% endblock %}